body{
margin:0;
font-family:Poppins, sans-serif;
background:#f5fdfc;
color:#333;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:white;
}

.logo{
font-size:40px;
font-weight:bold;
color:#19b5a5;
}

.logo span{
color:#19b5a5;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
text-decoration:none;
color:#444;
}

.active{
color:#19b5a5;
}

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px;
}

.hero-left{
max-width:500px;
}

.hero-left h4{
font-weight:400;
color:#19b5a5;
}

.hero-left span{
color:#f7941d;
}

.hero-left h1{
font-size:60px;
color:#19b5a5;
margin:10px 0;
}

.buttons{
margin-top:30px;
}

.btn{
padding:15px 30px;
border-radius:30px;
text-decoration:none;
margin-right:15px;
display:inline-block;
font-weight:500;
}

.hire{
background:#19b5a5;
color:white;
}

.resume{
background:#f7941d;
color:white;
}

.hero-right{
position:relative;
}

.circle{
width:400px;
height:400px;
border-radius:50%;
background:rgba(25,181,165,0.1);
display:flex;
align-items:center;
justify-content:center;
}

.circle img{
width:350px;
height:350px;
border-radius:50%;
object-fit:cover;
}

.wave{
height:150px;
background:#19b5a5;
border-top-left-radius:100% 50%;
border-top-right-radius:100% 50%;
margin-top:50px;
}
